<p-toast></p-toast>
<div class="flex flex-column flex-auto">
  <div class="grid">
    <div class="col-12">
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 p-3">
          <div class="p-3 text-center bg-blue-500 border-round">
            <span class="inline-flex justify-content-center align-items-center bg-blue-600 border-circle mb-3 p-3">
              <i class="pi pi-inbox text-xl text-white"></i>
            </span>
            <div class="text-2xl font-medium text-white mb-2">123K</div>
            <span class="text-blue-100 font-medium">Messages</span>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
          <div class="p-3 text-center bg-purple-500 border-round">
            <span class="inline-flex justify-content-center align-items-center bg-purple-600 border-circle mb-3 p-3">
              <i class="pi pi-map-marker text-xl text-white"></i>
            </span>
            <div class="text-2xl font-medium text-white mb-2">23K</div>
            <span class="text-purple-100 font-medium">Check-ins</span>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
          <div class="p-3 text-center bg-indigo-500 border-round">
            <span class="inline-flex justify-content-center align-items-center bg-indigo-600 border-circle mb-3 p-3">
              <i class="pi pi-file text-xl text-white"></i>
            </span>
            <div class="text-2xl font-medium text-white mb-2">23K</div>
            <span class="text-indigo-100 font-medium">Files</span>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-3">
          <div class="p-3 text-center bg-orange-500 border-round">
            <span class="inline-flex justify-content-center align-items-center bg-orange-600 border-circle mb-3 p-3">
              <i class="pi pi-users text-xl text-white"></i>
            </span>
            <div class="text-2xl font-medium text-white mb-2">40K</div>
            <span class="text-orange-100 font-medium">Users</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-6">
      <div class="shadow-2 surface-card border-round p-3">
        <div class="flex align-items-center justify-content-between">
          <span class="text-xl font-medium text-900">Quick Functions</span>
        </div>
        <div class="mt-3">
          <div class="grid">
            <div class="col-12 md:col-6">
              <div class="text-center border-1 surface-border border-round p-4 flex flex-column">
                <i class="pi pi-camera text-5xl text-blue-500 pr-2"></i>
                <div class="text-900 text-2xl font-700 my-3 font-bold">
                  <p-button label="Clean" icon="pi pi-delete-left" iconPos="right" severity="info" (onClick)="cleanMultimediaData()"></p-button>
                </div>
                <span class="font-medium text-600">Clean Image Data</span>
              </div>
            </div>
            <div class="col-12 md:col-6 text-center flex flex-column">
              <div class="text-center border-1 surface-border border-round p-4">
                <i class="pi pi-video text-5xl text-blue-500 pr-2"></i>
                <div class="text-900 text-2xl font-700 my-3 font-bold">
                  <p-button label="Clean" icon="pi pi-delete-left" iconPos="right" severity="info" (onClick)="cleanMultimediaData()"></p-button>
                </div>
                <span class="font-medium text-600">Clean Video Data</span>
              </div>
            </div>
            <div class="col-12 md:col-6 text-center">
              <div class="text-center border-1 surface-border border-round p-4">
                <i class="pi pi-facebook text-5xl text-blue-500"></i>
                <div class="text-900 text-2xl font-700 my-3 font-bold">5.60K</div>
                <span class="font-medium text-600">Facebook</span>
              </div>
            </div>
            <div class="col-12 md:col-6 text-center">
              <div class="text-center border-1 surface-border border-round p-4">
                <i class="pi pi-discord text-5xl text-indigo-500"></i>
                <div class="text-900 text-2xl font-700 my-3 font-bold">23.53K</div>
                <span class="font-medium text-600">Discord</span>
              </div>
            </div>
            <div class="col-12 md:col-6 text-center">
              <div class="text-center border-1 surface-border border-round p-4">
                <i class="pi pi-github text-5xl text-purple-500"></i>
                <div class="text-900 text-2xl font-700 my-3 font-bold">16.70K</div>
                <span class="font-medium text-600">GitHub</span>
              </div>
            </div>
            <div class="col-12 md:col-6 text-center">
              <div class="text-center border-1 surface-border border-round p-4">
                <i class="pi pi-google text-5xl text-pink-500"></i>
                <div class="text-900 text-2xl font-700 my-3 font-bold">16.50K</div>
                <span class="font-medium text-600">Google</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-6">
      <div class="surface-card shadow-2 border-round p-4">
        <div class="flex align-items-center justify-content-between mb-4">
          <span class="text-xl font-medium text-900">Clients</span>
        </div>
        <div class="surface-border border-1 border-round p-3 mb-4">
          <span class="text-900 font-medium text-3xl"
            >{{ userPercentage | number : "1.0-1" }}% <span class="text-600">({{ allUsers.length }}/{{ goalQuantity }})</span></span
          >
          <ul class="mt-3 list-none p-0 mx-0 flex">
            <li [style.width.%]="specialWidth" style="height: 1rem" class="bg-orange-500"></li>
            <li [style.width.%]="premiumWidth" style="height: 1rem" class="bg-purple-500"></li>
            <li [style.width.%]="regularWidth" style="height: 1rem" class="bg-yellow-500"></li>
            <li [style.width.%]="economicWidth" style="height: 1rem" class="bg-cyan-500"></li>
            <li [style.width.%]="remainingUsersWidth" style="height: 1rem" class="surface-500 border-round-right"></li>
          </ul>
        </div>
        <ul class="mt-4 list-none p-0 mx-0">
          <li class="flex align-items-center pb-3">
            <span style="width: 1rem; height: 1rem" class="border-round bg-indigo-500 mr-3 flex-shrink-0"></span>
            <span class="text-xl font-medium text-90">Active</span>
            <span class="text-600 text-xl font-medium ml-auto">{{ activeUsersQuantity }}</span>
          </li>
          <li class="flex align-items-center py-3">
            <span style="width: 1rem; height: 1rem" class="border-round bg-blue-500 mr-3 flex-shrink-0"></span>
            <span class="text-xl font-medium text-90">Pending Verification</span>
            <span class="text-600 text-xl font-medium ml-auto">{{ pendingVerificationQuantity }}</span>
          </li>
          <li class="flex align-items-center py-3">
            <span style="width: 1rem; height: 1rem" class="border-round bg-orange-500 mr-3 flex-shrink-0"></span>
            <span class="text-xl font-medium text-90">Special</span>
            <span class="text-600 text-xl font-medium ml-auto">{{ specialQuantity }}</span>
          </li>
          <li class="flex align-items-center py-3">
            <span style="width: 1rem; height: 1rem" class="border-round bg-purple-500 mr-3 flex-shrink-0"></span>
            <span class="text-xl font-medium text-90">Premium</span>
            <span class="text-600 text-xl font-medium ml-auto">{{ premiumQuantity }}</span>
          </li>
          <li class="flex align-items-center py-3">
            <span style="width: 1rem; height: 1rem" class="border-round bg-yellow-500 mr-3 flex-shrink-0"></span>
            <span class="text-xl font-medium text-90">Regular</span>
            <span class="text-600 text-xl font-medium ml-auto">{{ regularQuantity }}</span>
          </li>
          <li class="flex align-items-center py-3">
            <span style="width: 1rem; height: 1rem" class="border-round bg-cyan-500 mr-3 flex-shrink-0"></span>
            <span class="text-xl font-medium text-90">Economic</span>
            <span class="text-600 text-xl font-medium ml-auto">{{ economicQuantity }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12">
      <div class="surface-ground">
        <div class="grid">
          <div class="col-12 lg:col-4 p-2">
            <div class="shadow-2 surface-card border-round p-4 h-full">
              <div class="flex align-items-start mb-5">
                <img width="56" height="56" />
                <div class="ml-3">
                  <span class="block text-900 mb-1 text-xl font-medium">Cameron Williamson</span>
                  <p class="text-600 mt-0 mb-0">Marketing Coordinator</p>
                </div>
              </div>
              <ul class="list-none p-0 m-0">
                <li class="mb-5">
                  <div class="flex justify-content-between align-items-center">
                    <span class="text-900 inline-flex justify-content-between align-items-center">
                      <i class="pi pi-twitter mr-2"></i>
                      <span class="font-medium text-900">Twitter</span>
                    </span>
                    <span class="text-cyan-500 font-medium">34.00%</span>
                  </div>
                  <div class="surface-300 w-full mt-2" style="height: 7px; border-radius: 4px">
                    <div class="bg-cyan-500 h-full" style="width: 34%; border-radius: 4px"></div>
                  </div>
                </li>
                <li class="mb-5">
                  <div class="flex justify-content-between align-items-center">
                    <span class="text-900 inline-flex justify-content-between align-items-center">
                      <i class="pi pi-facebook mr-2"></i>
                      <span class="font-medium text-900">Facebook</span>
                    </span>
                    <span class="text-indigo-500 font-medium">45.86%</span>
                  </div>
                  <div class="surface-300 w-full mt-2" style="height: 7px; border-radius: 4px">
                    <div class="bg-indigo-500 h-full" style="width: 45%; border-radius: 4px"></div>
                  </div>
                </li>
                <li>
                  <div class="flex justify-content-between align-items-center">
                    <span class="text-900 inline-flex justify-content-between align-items-center">
                      <i class="pi pi-google mr-2"></i>
                      <span class="font-medium text-900">Google</span>
                    </span>
                    <span class="text-orange-500 font-medium">79.00%</span>
                  </div>
                  <div class="surface-300 w-full mt-2" style="height: 7px; border-radius: 4px">
                    <div class="bg-orange-500 h-full" style="width: 79%; border-radius: 4px"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 lg:col-4 p-2">
            <div class="shadow-2 surface-card border-round p-4 h-full">
              <div class="flex align-items-start mb-5">
                <img width="56" height="56" />
                <div class="ml-3">
                  <span class="block text-900 mb-1 text-xl font-medium">Kathryn Murphy</span>
                  <p class="text-600 mt-0 mb-0">Sales Manager</p>
                </div>
              </div>
              <ul class="list-none p-0 m-0">
                <li class="mb-5">
                  <div class="flex justify-content-between align-items-center">
                    <span class="text-900 inline-flex justify-content-between align-items-center">
                      <i class="pi pi-twitter mr-2"></i>
                      <span class="font-medium text-900">Twitter</span>
                    </span>
                    <span class="text-cyan-500 font-medium">64.47%</span>
                  </div>
                  <div class="surface-300 w-full mt-2" style="height: 7px; border-radius: 4px">
                    <div class="bg-cyan-500 h-full" style="width: 64%; border-radius: 4px"></div>
                  </div>
                </li>
                <li class="mb-5">
                  <div class="flex justify-content-between align-items-center">
                    <span class="text-900 inline-flex justify-content-between align-items-center">
                      <i class="pi pi-facebook mr-2"></i>
                      <span class="font-medium text-900">Facebook</span>
                    </span>
                    <span class="text-indigo-500 font-medium">75.67%</span>
                  </div>
                  <div class="surface-300 w-full mt-2" style="height: 7px; border-radius: 4px">
                    <div class="bg-indigo-500 h-full" style="width: 75%; border-radius: 4px"></div>
                  </div>
                </li>
                <li>
                  <div class="flex justify-content-between align-items-center">
                    <span class="text-900 inline-flex justify-content-between align-items-center">
                      <i class="pi pi-google mr-2"></i>
                      <span class="font-medium text-900">Google</span>
                    </span>
                    <span class="text-orange-500 font-medium">45.00%</span>
                  </div>
                  <div class="surface-300 w-full mt-2" style="height: 7px; border-radius: 4px">
                    <div class="bg-orange-500 h-full" style="width: 45%; border-radius: 4px"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 lg:col-4 p-2">
            <div class="shadow-2 surface-card border-round p-4 h-full">
              <div class="flex align-items-start mb-5">
                <img width="56" height="56" />
                <div class="ml-3">
                  <span class="block text-900 mb-1 text-xl font-medium">Darrell Steward</span>
                  <p class="text-600 mt-0 mb-0">Web Designer</p>
                </div>
              </div>
              <ul class="list-none p-0 m-0">
                <li class="mb-5">
                  <div class="flex justify-content-between align-items-center">
                    <span class="text-900 inline-flex justify-content-between align-items-center">
                      <i class="pi pi-twitter mr-2"></i>
                      <span class="font-medium text-900">Twitter</span>
                    </span>
                    <span class="text-cyan-500 font-medium">23.55%</span>
                  </div>
                  <div class="surface-300 w-full mt-2" style="height: 7px; border-radius: 4px">
                    <div class="bg-cyan-500 h-full" style="width: 34%; border-radius: 4px"></div>
                  </div>
                </li>
                <li class="mb-5">
                  <div class="flex justify-content-between align-items-center">
                    <span class="text-900 inline-flex justify-content-between align-items-center">
                      <i class="pi pi-facebook mr-2"></i>
                      <span class="font-medium text-900">Facebook</span>
                    </span>
                    <span class="text-indigo-500 font-medium">78.65%</span>
                  </div>
                  <div class="surface-300 w-full mt-2" style="height: 7px; border-radius: 4px">
                    <div class="bg-indigo-500 h-full" style="width: 45%; border-radius: 4px"></div>
                  </div>
                </li>
                <li>
                  <div class="flex justify-content-between align-items-center">
                    <span class="text-900 inline-flex justify-content-between align-items-center">
                      <i class="pi pi-google mr-2"></i>
                      <span class="font-medium text-900">Google</span>
                    </span>
                    <span class="text-orange-500 font-medium">86.54%</span>
                  </div>
                  <div class="surface-300 w-full mt-2" style="height: 7px; border-radius: 4px">
                    <div class="bg-orange-500 h-full" style="width: 79%; border-radius: 4px"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
